<h2>
    <span class="col-sm-9 header-main"><%= car.brand %> <%= car.model %></span>
    <span class="col-sm-3 header-main text-center">
        <a href="/" class="btn btn-success">Главная</a>
    </span>
</h2>
<span id="viewAmount" class="glyphicon glyphicon-eye-open"> Просмотров: <%= car.views %>.</span>
<div>
    <table id="carViewInfo" class="col-sm-5">
        <tr>
            <td id="viewPrice">Цена: </td>
            <td>
                <p id="BYNPrice"><%= car.price %> BYN</p>
                <%= Math.round(car.price/1.885) %> USD<br>
                <%= Math.round(car.price/2.075) %> EUR<br>
            </td>
        </tr>
        <tr>
            <td>Пробег: </td>
            <td><%= car.mileage %> км</td>
        </tr>
        <tr>
            <td>Топливо: </td>
            <td><%= car.gasoline %></td>
        </tr>
        <tr>
            <td>Трансмиссия: </td>
            <td><%= car.transmission %></td>
        </tr>
        <tr>
            <td>Объем двигателя: </td>
            <td><%= car.capacity %> л</td>
        </tr>
    </table>
    <p class="col-sm-7">
        <img id="img" width="600px" src="<%= car.photo %>">
    </p>
</div>