<h2>
    <span class="col-sm-9 header-main">Найдено автомобилей: <%= carAmount %>.</span>
    <span class="col-sm-3 header-main text-center">
        <a href="/" class="btn btn-success">Вернуться на главную</a>
    </span>
</h2>
<div class="col-sm-9">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Фото</td>
            <td>Марка</td>
            <td>Модель</td>
            <td>Цена</td>
            <td>Другая информация</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <% cars.forEach(function (car) { %>
        <tr class="carTr">
            <td><img id="img" height="100px" align="center" src="<%= car.photo %>"></td>
            <td><%= car.brand %></td>
            <td><%= car.model %></td>
            <td><%= car.price %> BYN</td>
            <td>
                Пробег: <%= car.mileage %> <br>
                Топливо: <%= car.gasoline %> <br>
                КПП: <%= car.transmission %> <br>
                Объем двигателя: <%= car.capacity %>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="filterBlock col-sm-3"></div>