<table class="table">
    <tr>
        <td>Фото</td>
        <td>Марка</td>
        <td>Модель</td>
        <td>Цена</td>
        <td>Другая информация</td>
        <td></td>
    </tr>
    <% cars.forEach(function (car) { %>
    <tr class="carTr">
        <td><%= car.photo %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.price %></td>
        <td>
            Пробег: <%= car.mileage %> <br>
            Топливо: <%= car.gasoline %> <br>
            КПП: <%= car.transmission %> <br>
            Объем двигателя: <%= car.capacity %>
        </td>
        <td>
            <button type="button" class="deleteButton" hidden>Удалить</button> <br>
            <button type="button" class="editButton" hidden>Редактировать</button>
        </td>
    </tr>
    <% }); %>
</table>